{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="col-lg-9 col-sm-12">
        <article class="panel">
            <div class="header">
                <div class="title">
                    <h3>معرفی گروه</h3>
                </div>
            </div>
            <div class="body">
                <div class="img col-lg-12 col-xs-12"><img src="{{url_for('static',filename='assets/img/3.jpg')}}" alt="Xbox"></div>
                <div class="text col-lg-12 col-xs-12 readMorePageText">
                    <p>
                        گروه مهندسی کامپیوتر دانشگاه گیلان از مهرماه 1386 با پذیرش 40 دانشجو در یک رشته کارشناسی مهندسی کامپیوتر گرایش نرم افزار دوره روزانه و با 3 هیأت علمی و یک کارشناس فعالیت خود را آغاز نمود و در حال حاضر دارای رشته های کارشناسی مهندسی کامپیوتر گرایشهای نرم
                        افزار، سخت افزار و کارشناسی ارشد مهندسی نرم افزار و کارشناسی ارشد معماری سیستم های کامپیوتری میباشد. در کارشناسی گرایش نرم افزار دارای 197 دانشجو، در گرایش سخت افزار 100 دانشجو و در رشته ارشد نرم افزار 32 دانشجو و در کارشناسی ارشد
                        معماری سیستم های کامپیوتری 16 دانشجو در حال تحصیل هستند.
                    </p>
                    <br>
                    <h3 style="padding-right: 18px;"> اعضای هیئت علمی </h3>
                    <div class="col-lg-12 col-xs-12 faculty_members">
                        <div class="row member_row">
                            <div class="col-lg-3 col-xm-6 col-sm-6 member_panel">
                                <div class="img col-lg-12 col-xs-12"><img class="member_pic" src="{{url_for('static',filename='assets/img/ahmadifar.jpg')}}" alt="Xbox"></div>
                                <p class="col-lg-12 col-xs-12 member_name">
                                    دكتر حمیدرضا احمدی فر
                                </p>
                            </div>
                            <div class="col-lg-3 col-xm-6 col-sm-6 member_panel">
                                <div class="img col-lg-12 col-xs-12"><img class="member_pic" src="{{url_for('static',filename='assets/img/448.jpg')}}" alt="Xbox"></div>
                                <p class="col-lg-12 col-xs-12 member_name">
                                    دکتر رضا ابراهیمی آتانی
                                </p>
                            </div>
                            <div class="col-lg-3 col-xm-6 col-sm-6 member_panel">
                                <div class="img col-lg-12 col-xs-12"><img class="member_pic" src="{{url_for('static',filename='assets/img/mir.jpg')}}" alt="Xbox"></div>
                                <p class="col-lg-12 col-xs-12 member_name">
                                    دکتر سیدابوالقاسم میرروشندل
                                </p>
                            </div>
                            <div class="col-lg-3 col-xm-6 col-sm-6 member_panel">
                                <div class="img col-lg-12 col-xs-12"><img class="member_pic" src="{{url_for('static',filename='assets/img/190.jpg')}}" alt="Xbox"></div>
                                <p class="col-lg-12 col-xs-12 member_name">
                                    دکتر اسدالله شاه بهرامی
                                </p>
                            </div>
                        </div>
                        <div class="row member_row">
                            <div class="col-lg-3 col-xm-6 col-sm-6 member_panel">
                                <div class="img col-lg-12 col-xs-12"><img class="member_pic" src="{{url_for('static',filename='assets/img/Mahdi Aminian1.jpg')}}" alt="Xbox"></div>
                                <p class="col-lg-12 col-xs-12 member_name">
                                    دکتر مهدی امینیان
                                </p>
                            </div>
                            <div class="col-lg-3 col-xm-6 col-sm-6 member_panel">
                                <div class="img col-lg-12 col-xs-12"><img class="member_pic" src="{{url_for('static',filename='assets/img/shekar.jpg')}}" alt="Xbox"></div>
                                <p class="col-lg-12 col-xs-12 member_name">
                                    دکتر سیدمحمدحسین شکریان
                                </p>
                            </div>
                            <div class="col-lg-3 col-xm-6 col-sm-6 member_panel">
                                <div class="img col-lg-12 col-xs-12"><img class="member_pic" src="{{url_for('static',filename='assets/img/salehi.jpg')}}" alt="Xbox"></div>
                                <p class="col-lg-12 col-xs-12 member_name">
                                    دکتر محمد صالحی خانقاهبر
                                </p>
                            </div>
                            <div class="col-lg-3 col-xm-6 col-sm-6 member_panel">
                                <div class="img col-lg-12 col-xs-12"><img class="member_pic" src="{{url_for('static',filename='assets/img/shakeri.jpg')}}" alt="Xbox"></div>
                                <p class="col-lg-12 col-xs-12 member_name">
                                    دکتر مجتبی شاکری
                                </p>
                            </div>
                        </div>
                    </div>
                    <p>
                        <h3 style="padding-right: 18px;">رشته های موجود</h3>
                        <ul>
                            <li>کارشناسی مهندسی کامپیوتر گرایش نرم افزار از سال 86 </li>
                            <li> کارشناسی مهندسی کامپیوتر گرایش سخت افزار از سال 87</li>
                            <li>کارشناسی ارشد نرم افزار از سال 90</li>
                        </ul>
                    </p>
                    <p>
                        <h3 style="padding-right: 18px;">امکانات آزمایشگاهی</h3>
                        <h4 style="padding-right:18px;color:#ff6600;">سایت آموزشی گروه</h4>
                        <p>
                            اين سايت مجهز به 25 دستگاه کامپيوتر و یکدستگاه سرور و پرده نمايش و ويدئو پروژکتور بوده و برای فعاليت های برنامه نويسی و کار با انواع نرم افزار های کاربردی و نیز برای تدریس آزمایشگاه کامپیوتر طراحی شده است.
                        </p>
                        <p>
                            ضمناً جهت طراحی، پیاده سازی، نگهداری و پیشتیبانی وب سایت گروه و همچنین طراحی و پیاده سازی سیستمهای مدیریت گروههای ایمیل و مدیریت دروس گروه از این آزمایشگاه استفاده می گردد
                        </p>
                        <h4 style="padding-right:18px;color:#ff6600;">آزمایشگاه نرم افزار </h4>
                        <p>
                            این آزمايشگاه به ظرفيت 16 دانشجو و مجهز به 16 کامپيوتر و پرده نمايش و ويدئو پروژکتور بوده و جهت استفاده دروس آزمایشگاههای پایگاه داده ها و سیستمهای عامل در نظر گرفته شده است.
                        </p>
                        <p>
                            ضمناً جهت ارائه دروس کارشناسی ارشد از این آزمایشگاه در طول هفته استفاده می گردد
                        </p>
                        <h4 style="padding-right:18px;color:#ff6600;">آزمایشگاه مدارهای منطقی، الکترونیکی و دیجیتال</h4>
                        <p>
                            اين آزمايشگاه با ظرفيت 12 نفر دانشجو دارای ابزار های مانند اسيلسکوپ های دو کاناله، مولتی متر و ... می باشد.
                        </p>
                        <h4 style="padding-right:18px;color:#ff6600;">آزمایشگاه معماری کامپیوتر، ریزپردازنده و شبکه های کامپیوتر</h4>
                        <p>
                            این آزمايشگاه به ظرفيت 10 دانشجو و مجهز به 10 کامپيوتر بوده و دارای بوردهای FPGA می باشد که جهت استفاده دروس آزمایشگاههای معماری کامپیوتر، ریزپردازنده و شبکه های کامپیوتر در نظر گرفته شده است.
                        </p>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <div class="col-lg-3 col-sm-12 side-bar">
        <aside class="panel">
            <div class="header">
                <h5>کتب جدید</h5>
            </div>
            <div class="body">
                <a href="#">
                    <h4>
                        برنامه سازی شی گرا در C#
                        <span>نویسنده: دکتر شاه بهرامی</span>
                    </h4>
                </a>
                <a href="#">
                    <h4>
                        پردازش موازی
                        <span>نویسنده: دکتر شاه بهرامی</span>
                    </h4>
                </a>
                <a href="#">
                    <h4>
                        سایر کتب
                        <span>نویسنده: دکتر شاه بهرامی</span>
                    </h4>
                </a>
            </div>
        </aside>
    </div>
</div>
{% endblock %}