{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="col-lg-12 col-sm-12">
        <!-- <form method="post">
            <div>
                <input name="title" type="text" placeholder="title" />
            </div>
            <div>
                <input name="category" type="text" placeholder="category" />
            </div>
            <div>
                <input name="author_id" type="number" placeholder="author" />
            </div>
            <div>
                <input name="content" type="text" placeholder="body" />
            </div>
            <div>
                <input name="tags" type="text" placeholder="tags" />
            </div>
            <button type="submit"> post</button>
        </form> -->
        <div class="modal-content">
            <div class="modal-header">
                <h2> ثبت پست جدید</h2>
            </div>
            <div class="modal-body">
                <form action="new_post" method="post">
                    <div class="form-group"><label for="">عنوان</label><input class="form-control" type="text" name="title" placeholder="عنوان"></div>
                    <div class="form-group"><label for="">نویسنده</label><input class="form-control" type="number" name="author_id" placeholder="نویسنده"></div>
                    <div class="form-group"><label for="">متن پست</label><input class="form-control" type="text" name="content" placeholder="متن پست"></div>
                    <div class="form-group"><label for="">تاریخ </label><input class="form-control" type="text" name="date" placeholder="متن پست"></div>
                    <div class="form-group"><label for="">تگ ها</label><input class="form-control" type="text" name="tags" placeholder="تگ ها"></div>
                    <div class="submit"><input type="submit" value="ثبت پست جدید"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}