{% extends "layout.html" %} {% block content %}
<div class="container">
    welcome {{user.username}} <br> info:
    <li>
        email: {{user.email}}
    </li>
    <li>
        role: {{user.role}}
    </li>
</div>
{% endblock %}