{% extends "layout.html" %} {% block content %}
<div class="container">
    <!-- <div class="col-lg-12 col-sm-12 slider">
        <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="{{url_for('static',filename='assets/img/3.jpg')}}" style="width:100%">
                <div class="text">Caption Text</div>
            </div>
        </div>
    </div> -->

    <div class="col-lg-9 col-sm-12">
        {% for post in posts %}
        <article class="panel">
            <div class="header">
                <div class="title">
                    <h3> {{post.title}}</h3>
                </div>
                <div class="meta">
                    <span class="author">نویسنده:{{post.author.username}} | دسته:{{post.category}}</span>
                    <span class="date">  {{post.date}}</span>
                </div>
            </div>
            <div class="body">
                <div class="img col-lg-4 col-xs-12"><img src="{{url_for('static',filename='assets/img/402475826-aviation-wide-wallpapers.jpg')}}" alt="Xbox"></div>
                <div class="text col-lg-8 col-xs-12">
                    <p> {{post.content | truncate(400)}}</p>
                    <p><span class="read-more"><a href="post/{{post.id}}">بیشتر بخوانید »</a></span></p>
                </div>
            </div>
        </article>
        {% endfor %}
    </div>
    <div class="col-lg-3 col-sm-12 side-bar">
        <aside class="panel">
            <div class="header">
                <h5> اطلاعیه ها</h5>
            </div>
            <div class="body">
                <a href="#">
                    <h4> برنامه امتحانی</h4>
                </a>
                <a href="#">
                    <h4> برنامه کلاسی</h4>
                </a>
                <a href="#">
                    <h4> امتحان هوش مصنوعی</h4>
                </a>
                <a href="#">
                    <h4> شاکری کلاس حل تمرین</h4>
                </a>
            </div>
        </aside>
        <aside class="panel">
            <div class="header">
                <h5> کتب جدید</h5>
            </div>
            <div class="body">
                <a href="#">
                    <h4> برنامه امتحانی</h4>
                </a>
                <a href="#">
                    <h4> برنامه کلاسی</h4>
                </a>
                <a href="#">
                    <h4> امتحان هوش مصنوعی</h4>
                </a>
                <a href="#">
                    <h4> شاکری کلاس حل تمرین</h4>
                </a>
            </div>
        </aside>
        <aside class="panel">
            <div class="header">
                <h5> زمان و مکان برگزاری دفاع</h5>
            </div>
            <div class="body">
                <a href="#">
                    <h4> برنامه امتحانی</h4>
                </a>
                <a href="#">
                    <h4> برنامه کلاسی</h4>
                </a>
                <a href="#">
                    <h4> امتحان هوش مصنوعی</h4>
                </a>
                <a href="#">
                    <h4> شاکری کلاس حل تمرین</h4>
                </a>
            </div>
        </aside>
        <aside class="panel">
            <div class="header">
                <h5> پیوندها</h5>
            </div>
            <div class="body">
                <a href="#">
                    <h4> برنامه امتحانی</h4>
                </a>
                <a href="#">
                    <h4> برنامه کلاسی</h4>
                </a>
                <a href="#">
                    <h4> امتحان هوش مصنوعی</h4>
                </a>
                <a href="#">
                    <h4> شاکری کلاس حل تمرین</h4>
                </a>
            </div>
        </aside>
        <aside class="panel">
            <div class="header">
                <h5> بهترین ها</h5>
            </div>
            <div class="body">
                <a href="#">
                    <h4> برنامه امتحانی</h4>
                </a>
                <a href="#">
                    <h4> برنامه کلاسی</h4>
                </a>
                <a href="#">
                    <h4> امتحان هوش مصنوعی</h4>
                </a>
                <a href="#">
                    <h4> شاکری کلاس حل تمرین</h4>
                </a>
            </div>
        </aside>
    </div>
</div>
{% endblock %}