<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="وبسایت رسمی گروه کامپیوتر دانشگاه گیلان ,جدیدترین اخبار ورویداد ها را در این وبسایت دنبال کنید">
    <meta name="keywords" content="دانشگاه گیلان,گروه کامپیوتر,وبسایت رسمی,اخبارودرباره ی گروه">
    <meta property="og:title" content="  گروه کامپیوتر دانشگاه گیلان" />
    <meta property="og:type" content="خبررسانی" />
    <!-- <meta property="og:image" content="./static/stylesheet/azaye grooh/imagekhabar.jpg" /> -->
    <meta property="og:description" content="وبسایت رسمی گروه کامپیوتر دانشگاه گیلان ,جدیدترین اخبار ورویداد ها را در این وبسایت دنبال کنید" />
    <title>گروه کامپیوتر دانشگاه گیلان</title>
    <!-- Page css static/assets-->
    <link rel="shortcut icon" href="{{url_for('static',filename='assets/img/favicon.ico')}}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='assets/css/styles.css')}}">
</head>

<body>
    <!-- Header Template-->
    <header>
        <div class="container">
            <ul class="top-menu">
                <!-- <li><a id="modalBtn" href="#" onclick="openModal()">دیجی کالا مگ، وارد شوید</a></li>
                <li><a href="#"> ثبت نام کنید </a></li>
                <li><a href="#">فروشگاه اینترنتی دیجیکالا</a></li> -->
                <li class="hidden visible-xs"><button class="btn btn-menu" onclick="openMenu()"><i class="fa fa-bars"></i></button></li>
            </ul>
        </div>
        <div class="search">
            <div class="container">
                <div class="row">
                    <div class="search-input col-lg-7 col-sm-12">
                        <form><input placeholder="جستجو ..."><button class="btn btn-search" type="submit"><i class="fa fa-search"></i></button></form>
                    </div>
                    <div class="logo col-lg-5 col-sm-12"><img src="{{url_for('static',filename='assets/img/logo.png')}}"></div>
                </div>
            </div>
        </div>
        <div class="menu-container">
            <nav class="container">
                <ul class="menu">
                    <li><a href="{{url_for('index')}}">صفحه اصلی</a></li>
                    <li class="has-sub">
                        <a href="#">امور دانشجویان</a>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        <ul class="sub-menu">
                            <li><a href="#"> چارت و جدول دروس</a></li>
                            <li><a href="#">اسلاید دروس </a></li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">انجمن علمی </a>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        <ul class="sub-menu">
                            <li><a href="#"> چارت و جدول دروس</a></li>
                            <li><a href="#">اسلاید دروس </a></li>
                        </ul>
                    </li>
                    <li><a href="{{url_for('semesters')}}"> دروس ارائه شده</a></li>
                    <li><a href="{{url_for('about')}}">درباره گروه</a></li>
                    <li><a href="{{url_for('new_post')}}">پست جدید</a></li>
                    <li><a href="#">تماس با ما</a></li>
                    {% if 'username' in session%}
                    <li><a href="{{url_for('logout')}}">خروج</a></li>
                    {% else %}
                    <li id="loginBtn"><a id="modalBtn" href="#" onclick="openModal()">ورود</a></li>
                    <li id="RegBtn"><a id="modalBtn2" href="#" onclick="openModal2()">ثبت نام</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <!-- ./Header Template-->
    <!-- Page Content-->
    <main>
        <div class="modal" id="mymodal">
            <div class="modal-content">
                <div class="modal-header"><span class="close">&times;</span>
                    <h2> ورود</h2>
                </div>
                <div class="modal-body">
                    <form action="login" method="post">
                        <div class="form-group"><label for="">نام کاربری</label><input class="form-control" type="text" name="username" placeholder="نام کاربری"></div>
                        <div class="form-group"><label for="">رمز ورود</label><input class="form-control" type="password" name="password" placeholder="رمز ورود "></div>
                        <!-- <div class="remember-me"><label> <input type="checkbox"><span>مرا به خاطر بسپار</span></label></div> -->
                        <div class="submit"><input type="submit" value="ورود">
                            <!-- <p><a href="">رمز عبورم را فراموش کرده ام</a></p> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal" id="mymodal2">
            <div class="modal-content">
                <div class="modal-header"><span class="close">&times;</span>
                    <h2> ثبت نام</h2>
                </div>
                <div class="modal-body">
                    <form action="register" method="post">
                        <div class="form-group"><label for="">نام کاربری</label><input class="form-control" type="text" name="username" placeholder="نام کاربری"></div>
                        <div class="form-group"><label for="">ایمیل</label><input class="form-control" type="email" name="email" placeholder="ایمیل"></div>
                        <div class="form-group"><label for="">پسورد</label><input class="form-control" type="password" name="password" placeholder="پسورد"></div>
                        <!-- <div class="remember-me"><label> <input type="checkbox"><span>مرا به خاطر بسپار</span></label></div> -->
                        <div class="submit"><input type="submit" value="ثبت نام">
                            <!-- <p><a href="">رمز عبورم را فراموش کرده ام</a></p> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

    </main>
    <!-- ./Page Content-->
    <!-- Footer Template-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 copy-right"> رشت: کیلومتر ۶ جاده تهران - دانشگاه گیلان - دانشکده فنی - گروه مهندسی کامپیوتر </div>
                <div class="col-lg-12 col-sm-12 copy-right">Department of Computer Engineering of Guilan University </div>
            </div>
        </div>
    </footer>
    <!-- ./Footer Template-->
    <!-- Page js static/assets-->
    <script src="{{url_for('static',filename='assets/js/app.js')}}"></script>
</body>

</html>