{% extends "layout.html" %} {% block content %}
<div class="container">
    <div class="col-lg-12 col-sm-12">
        <article class="panel">
            <div class="header">
                <div class="title">
                    <a href="#">
                        <h3> {{post.title}}</h3>
                    </a>
                </div>
                <div class="meta">
                    <span class="author">نویسنده:{{post.author.username}}</span>
                    <span class="date">  {{post.date}}</span>
                </div>
            </div>
            <div class="body">
                <div class="img col-lg-12 col-xs-12"><img src="{{url_for('static',filename='assets/img/402475826-aviation-wide-wallpapers.jpg')}}" alt="Xbox"></div>
                <div class="text col-lg-12 col-xs-12 readMorePageText">
                    <p> {{post.content}}</p>
                </div>
                <div class="tags col-lg-12 col-xs-12">
                    <span>دسته:{{post.category}}<br></span> تگ ها:{{post.tags}}
                </div>
            </div>
        </article>
    </div>
</div>
{% endblock %}