{% extends "layout.html" %} {% block content %}
<ul>
    <li>
        <a href="http://localhost:8080/semester/951">951</a>
    </li>
    <li>
        <a href="http://localhost:8080/semester/952">952</a>
    </li>
    <li>
        <a href="http://localhost:8080/semester/961">961</a>
    </li>
    <li>
        <a href="http://localhost:8080/semester/962">962</a>
    </li>
    <li></li>
</ul>
{% endblock %}