{% extends "layout.html" %} {% block content %} this is a single semester page courses:<br>
<ul>
    <li>
        <a href="http://localhost:8080/course/1">course 1</a>
    </li>
    <li>
        <a href="http://localhost:8080/course/2">course 2</a>
    </li>
    <li>
        <a href="http://localhost:8080/course/3">course 3</a>
    </li>
    <li>
        <a href="http://localhost:8080/course/4">course 4</a>
    </li>

</ul>
{% endblock %}